@tailwind base;
@tailwind components;
@tailwind utilities;

/* A simple, clean scrollbar for a professional look */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}